# Database Variables.
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_SSLMODE=disable

# Backend Variables.
ADMIN_USERNAME=
ADMIN_PASSWORD=
JWT_SECRET_KEY=
GIN_MODE=release
BASE_URL=
BASE_URL_SUBDOMAIN=
LOCAL_URL=
PORT=
TRUSTED_PROXIES=

# AWS Variables.
S3_BUCKET_NAME=
AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# Restile Variables.
VITE_API_URL=
VITE_CDN_URL=

# Email Variables.
SMTP_HOST=
SMTP_PORT=
SENDER_EMAIL=
DESTINATION_EMAIL=
EMAIL_PASSWORD=